@import "mixin";
@import "variable";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0 32px;
}

body {
    font-family: "Poppins", sans-serif;

}


//UPDATE

.update-all{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 2000;
   // @include flex;
    .update-box{
        width: 300px;
        background-color: rgb(167, 206, 238);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        input{
            padding: 10px;
        }
        #submit{
            background-color: $nav;
            border: none;
        }
    }


}
//MENU

.click {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 2000;
    display: flex;
    justify-content: space-between;

    .menu {
        width: 250px;
        background-color: black;

        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            list-style: none;
            padding: 20px;
            cursor: pointer;

            li {
                color: white;
                font-size: 13px;
            }
        }
    }
i{
    font-size: 30px;
    color: white;
    padding: 20px;
}
}

#top{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $nav;
    border: none;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover{
        border: 1px solid $nav;
        background-color: white;
        i{
            color: $nav;
        }
    }

    i{
        font-size: 40px;
        color: white;
        
    }
}


.elave {
    width: 100%;

    .all1 {
        @include mini;
        padding: 100px 0;
        .detail-robot{
            width: 23%;
            @include flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
            background-color: rgb(209, 232, 243);
            padding: 20px;
            img{
                width: 100%;
            }
            .r-text{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

.add {
    width: 100%;

    .add-all {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;

        .add-box {
            width: 30%;
            background-color: rgb(164, 190, 240);
            display: flex;
            gap: 10px;
            flex-direction: column;

            .choose {
                padding: 10px;
                background-color: yellow;
                width: 100px;
                border: none;
                cursor: pointer;
            }

            input {
                padding: 10px;
            }

            #submit {
                padding: 10px;
                background-color: yellow;
                border: none;
                cursor: pointer;
            }
        }
    }
}

nav {
    width: 100%;
    //background-color: $nav;
    position: fixed;
    z-index: 1000;

    .navbar {
        width: 100%;
        display: flex;
        //align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding: 20px 0;
        color: $white;

        .logo {
            // width: 15%;
            // background-color: red;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .div-ul {
            width: 42%;
            @include flex;

            ul {
                width: 100%;
                list-style: none;
                @include flex;
                justify-content: space-between;

                li {
                    font-size: 11px;
                    font-weight: 300;
                    cursor: pointer;
                }
            }

            i {
                font-size: 30px;
                display: none;
            }


        }
    }

}


//ILK SECTION


.improved {
    width: 100%;
    background-image: url("https://preview.colorlib.com/theme/robotics/img/banner-bg.jpg.webp");
    background-size: cover;
    background-position: center;

    .impro {
        @include mini;
        padding: 100px 0;

        .impro-1 {
            width: 50%;
            display: flex;
            flex-direction: column;
            color: $white;
            // padding: 25px;
            line-height: 70px;

            h1 {
                font-size: 60px;
                font-weight: 400;
            }

            #btn1 {
                width: 150px;
                background-color: white;
                padding: 14px;
                border: none;
                cursor: pointer;
                &:hover{
background-color: $nav;
border: 1px solid white;
color: white;
                }
            }
        }

        .impro-2 {
            width: 50%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}


//IKINCI SECTION


.robot {
    width: 100%;

    .robot-all {
        @include mini;
        flex-direction: column;
        padding: 100px 0;
        gap: 50px;
        
        #load{
            width: 100px;
            padding: 10px 0;
            background-color: $nav;
            border: none;
            cursor: pointer;
        }

        .robot-1 {
            width: 70%;
            text-align: center;
            @include flex;
            flex-direction: column;
            gap: 20px;

            h1 {
                font-size: 35px;
            }

            p {
                color: grey;
                font-size: 14px;
            }
        }

        .robot-2 {
            width: 100%;
            @include flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .robot4 {
                width: 25%;
                @include flex;
                flex-direction: column;
                text-align: center;
                background-color: rgb(247, 248, 250);
                cursor: pointer;

                .robot-img {
                    background-color: rgb(188, 202, 215);
                    width: 60%;
                    padding: 20px;
                    img{
                        width: 100%
                    }
                }

                .robot-text {
                    @include flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px;
                    cursor: pointer;

                    button{
                        width: 100px;
                        background-color: $nav;
                        padding: 10px 0;
                        border: none;
                        color: white;
                        
                    }

                    h4 {
                        font-size: 20px;
                    }

                    p {
                        color: grey;
                        font-size: 14px;
                    }

                    #btn2 {
                        width: 150px;
                        background-color: $nav;
                        padding: 13px;
                        border: none;
                        cursor: pointer;

                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }

                    #but1{
                        width: 100px;
                        padding: 10px;
                        background-color: $nav;
                        color: white;
                        border: none;
                    }
                }
            }
        }
    }
}


//UCUNCU SECTION
.globall {
    width: 100%;

    .globall-all {
        @include mini;
        justify-content: space-between;

        .globall-img {
            width: 50%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .globall-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-size: 40px;
            }

            #black {
                color: black;
                font-size: 16px;
            }

            p {
                font-size: 14px;
                color: grey;
            }

            #btn3 {
                width: 150px;
                padding: 15px;
                border: none;
                background-color: $nav;
                color: $white;

                &:hover {
                    background-color: white;
                    color: $nav;
                    border: 1px solid $nav;
                }
            }
        }
    }
}

//DORDUNCU SECTION

.life {
    width: 100%;

    .life-all {
        @include mini;
        justify-content: space-between;
        padding: 100px 0;

        .life-text {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-size: 35px;

            }

            #blue {
                color: $nav;
                letter-spacing: 2px;
                font-size: 11px;
            }

            p {
                color: grey;
                font-size: 14px;
            }

            #btn4 {
                width: 200px;
                padding: 15px;
                border: none;
                background-color: $nav;
                color: $white;

                &:hover {
                    background-color: white;
                    color: $nav;
                    border: 1px solid $nav;
                }

            }
        }

        .life-img {
            width: 50%;

            img {
                width: 70%;
            }
        }
    }
}

//BESINCI SECTION

.some {
    width: 100%;
    background-image: url("https://preview.colorlib.com/theme/robotics/img/feature-bg.jpg.webp");
    background-size: cover;
    background-position: center;

    .some-all {
        @include mini;
        flex-direction: column;
        gap: 50px;
        padding: 100px 0;

        .some-head {
            color: $white;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 14px;
            }
        }

        .some-div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;

            .div6 {
                width: 31.1%;
                background-color: white;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 30px;

                .div-h5 {
                    width: 100%;
                    display: flex;
                    gap: 10px;
                    font-size: 25px;
                }

                p {
                    color: grey;
                }
            }

        }
    }
}

//ALTINCI SECTION

.IMG {
    width: 100%;

    .img-all {
        @include mini;
        justify-content: space-between;
        padding: 100px 0;

        img {
            filter: grayscale(100%);
            transition: filter 0.5s ease;

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}


//YEDDINCI SECTION


.blog {
    width: 100%;

    .blog-all {
        @include flex;
        flex-direction: column;
        gap: 50px;
        padding: 100px 0;

        .blog-head {
            // width: 50%;
            text-align: center;

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 14px;
                color: grey;
                margin-top: 20px;
            }
        }

        .blog-img {
            width: 100%;
            @include flex;
            justify-content: space-between;

            .img2 {
                width: 48%;
                display: flex;
                flex-direction: column;

                .b-img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .img-text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .but {
                        display: flex;
                        gap: 20px;

                        #btn6,
                        #btn7 {
                            width: 100px;
                            padding: 10px;
                            background-color: $nav;
                            border: 0;
                            color: $white;
                        }
                    }

                    h4 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                        color: grey;
                    }

                    #black {
                        font-size: 16px;
                        color: $black;
                    }
                }
            }
        }
    }
}


//FOOTER


footer {
    width: 100%;
    background-image: url("https://preview.colorlib.com/theme/robotics/img/footer-bg.jpg.webp");
    background-size: cover;
    background-position: center;

    .footer-all {
        @include mini;
        flex-direction: column;
        padding: 100px 0;
        gap: 100px;

        .end-1 {
            width: 100%;
            @include flex;
            justify-content: space-between;

            .end1 {
                width: 23%;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h5 {
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                    transition: all .5s ease;
                    cursor: pointer;

                    &:hover {
                        color: $nav;
                    }
                }
            }

            .end2 {
                width: 46%;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 20px;

                margin-top: -55px;

                h5 {
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                }

                .end-but {
                    width: 100%;
                    display: flex;
                    gap: 30px;

                    input {
                        width: 350px;
                        padding: 10px;
                        border-radius: 30px;
                    }

                    #btnson {
                        width: 150px;
                        border-radius: 30px;
                        border: none;
                        background-color: $nav;
                        color: white;
                        cursor: pointer;
                    }
                }

            }

            .end-img {
                width: 23%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h5 {
                    font-size: 20px;
                    color: white;
                }

                .son-img {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .son-img1 {
                        width: 100%;
                        @include flex;
                        justify-content: space-between;
                    }
                }
            }
        }

        .end-2 {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .son1 {
                color: white;
                display: flex;
                gap: 3px;

                i {
                    color: $nav;
                }

                #son {
                    color: $nav;
                }
            }

            ul {
                list-style: none;
                color: white;
                @include flex;
                gap: 20px;

                li {
                    i {
                        background-color: black;
                        padding: 10px;
                        cursor: pointer;

                        &:hover {
                            background-color: $nav;
                        }
                    }
                }
            }
        }
    }
}

//MEDIA -990PX

@media screen and (max-width:990px) {
    .nav {
        width: 100%;

        .container {
            @include flex;

            .navbar {
                width: 80%;
                flex-direction: column;
                gap: 2px;

                .logo {
                    width: 190px;
                }

                .div-ul {
                    width: 70%;
                    padding: 0 20px;

                    ul {
                        width: 100%;
                    }
                }
            }
        }
    }

    //ILK SECTION

    .improved {
        width: 100%;

        .container {
            .impro {
                width: 80%;

                .impro-1 {
                    // padding: 0 10px;
                    line-height: 40px;

                    h1 {
                        font-size: 35px;

                    }
                }

                .impro-2 {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    //IKINCI SECTION

    .robot {
        width: 100%;

        .container {
            .robot-all {
                width: 100%;

                .robot-2 {
                    width: 80%;
                    flex-wrap: wrap;

                    .robot4 {
                        width: 48%;
                    }
                }
            }
        }
    }


    //UCUNCU SECTION

    .globall {
        width: 100%;

        .globall-all {
            width: 100%;
            flex-direction: column;
            gap: 50px;

            .globall-img {
                width: 100%;
            }

            .globall-text {
                width: 100%;
                padding: 0 20px;

                h2 {
                    font-size: 35px;
                }
            }
        }
    }

    //DORDUNCU SECTION

    .life {
        width: 100%;

        .container {
            .life-all {
                width: 100%;
                flex-direction: column;
                gap: 50px;

                .life-text {
                    width: 80%;
                }

                .life-img {
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    //BESINCI SECTION
    .some {
        width: 100%;

        .container {
            .some-all {
                width: 100%;

                .some-div {
                    width: 80%;

                    .some-head {
                        width: 30%;
                    }

                    .div6 {
                        width: 47%;
                    }

                }
            }
        }
    }

    //ALTINCI ::selection
    .IMG {
        width: 100%;

        .container {
            .img-all {
                width: 80%;

                .img5 {
                    img {
                        width: 90%;
                    }
                }
            }
        }
    }

    //YEDDINCI SECTION

    .blog {
        width: 100%;

        .container {
            .blog-all {
                width: 100%;

                .blog-head {
                    h2 {
                        font-size: 35px;
                    }
                }

                .blog-img {
                    width: 80%;
                }
            }
        }
    }

    //FOOTER

    footer {
        width: 100%;

        .container {
            .footer-all {
                width: 80%;

                .end-1 {
                    flex-direction: column;
                    gap: 100px;

                    .end1 {
                        width: 100%;
                    }

                    .end2 {
                        width: 100%;

                        margin-top: 0;

                        .end-but {
                            flex-direction: column;

                            input {
                                width: 100%;
                            }

                            #btnson {
                                padding: 10px;
                            }
                        }

                    }

                    .end-img {
                        width: 100%;
                    }
                }

                .end-2 {
                    width: 100%;
                    flex-direction: column;
                    gap: 30px;

                    ul {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}

//MEDIA-960PX NAVBAR

@media screen and (max-width:960px) {
    .nav {
        width: 100%;

        .container {
            @include flex;
            padding: 0;

            .navbar {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;

                .logo {
                    width: 190px;
                    margin-left: 100px;
                }

                .div-ul {
                    width: 30%;
                    justify-content: end;

                    ul {
                        display: none;
                    }

                    i {
                        display: flex;
                    }
                }
            }
        }
    }

    //IKINCI SECTION


}

//MEDIA 760PX


@media screen and (max-width:760px) {
    //ILK SECTION

    .improved {
        width: 100%;

        .container {
            .impro {
                width: 100%;
                flex-direction: column;
                gap: 30px;
                padding: 50px 0;

                .impro-1 {
                    padding: 0 28px;
                    width: 80%;

                    //line-height: 40px;
                    h1 {
                        font-size: 35px;

                    }
                }

                .impro-2 {
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    //IKINCI SECTION

    .robot {
        width: 100%;

        .container {
            .robot-all {
                width: 100%;

                .robot-2 {
                    width: 70%;
                    flex-wrap: wrap;
                    gap: 30px;

                    .robot4 {
                        width: 100%;
                    }
                }
            }
        }
    }

    //BESINCI SECTION

    .some {
        width: 100%;

        .container {
            .some-all {
                width: 100%;

                .some-div {
                    width: 80%;

                    .div6 {
                        width: 100%;
                    }

                }
            }
        }
    }

    //ALTINCI SECTION

    .IMG {
        width: 100%;

        .container {
            .img-all {
                width: 80%;

                .img5 {
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }

    //YEDDINCI SECTION
    .blog {
        width: 100%;

        .container {
            .blog-all {
                width: 100%;

                .blog-img {
                    flex-direction: column;
                    gap: 30px;

                    .img2 {
                        width: 100%;
                    }
                }
            }
        }
    }

}

//MEDIA 576PX


@media screen and (max-width:576px) {
    .nav {
        width: 100%;

        .container {
            @include flex;
            padding: 0;

            .navbar {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;

                .logo {
                    width: 190px;
                    margin-left: 20px;
                }

                .div-ul {
                    width: 30%;
                    justify-content: end;

                    ul {
                        display: none;
                    }

                    i {
                        display: flex;
                    }
                }
            }
        }
    }


    //ILK SECTION

    .improved {
        width: 100%;

        .container {
            padding: 0 20px;

            .impro {
                width: 100%;
                flex-direction: column;
                gap: 30px;

                .impro-1 {
                    padding: 0;
                    width: 100%;

                    //line-height: 40px;
                    h1 {
                        font-size: 35px;

                    }
                }

                .impro-2 {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    //IKINCI SECTION

    .robot {
        width: 100%;

        .container {
            padding: 0 20px;

            .robot-all {
                width: 100%;

                .robot-1 {
                    width: 100%;
                }

                .robot-2 {
                    width: 100%;
                    flex-wrap: wrap;
                    gap: 30px;

                    .robot4 {
                        width: 100%;
                    }
                }
            }
        }
    }

    //DORDUNCU SECTIOON

    .life {
        width: 100%;

        .container {
            padding: 0;

            .life-all {
                width: 100%;
                flex-direction: column;
                gap: 50px;

                .life-text {
                    width: 95%;
                }

                .life-img {
                    width: 100%;
                }
            }
        }
    }

    //BESINCI SECTION
    .some {
        width: 100%;

        .container {
            padding: 0 20px;

            .some-all {
                width: 100%;

                .some-head {
                    width: 100%;

                    h2 {
                        font-size: 35px;
                    }
                }

                .some-div {
                    width: 100%;

                    .div6 {
                        width: 100%;
                    }

                }
            }
        }
    }

    //ALTINCI ::selection
    .IMG {
        width: 100%;

        .container {
            padding: 0 20px;

            .img-all {
                width: 100%;

                .img5 {
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }

    //YEDDINCI SECTION

    .blog {
        width: 100%;

        .container {
            padding: 0 20px;

            .blog-all {
                width: 100%;

                .blog-img {
                    width: 100%;
                    flex-direction: column;
                    gap: 30px;

                    .img2 {
                        width: 100%;
                    }
                }
            }
        }
    }

    //FOOTER

    footer {
        width: 100%;

        .container {
            padding: 0 20px;

            .footer-all {
                width: 100%;

                .end-1 {
                    flex-direction: column;
                    gap: 100px;

                    .end1 {
                        width: 100%;
                    }

                    .end2 {
                        width: 100%;

                        margin-top: 0;

                        .end-but {
                            flex-direction: column;

                            input {
                                width: 100%;
                            }

                            #btnson {
                                padding: 10px;
                            }
                        }

                    }

                    .end-img {
                        width: 100%;
                    }
                }

                .end-2 {
                    width: 100%;
                    flex-direction: column;
                    gap: 30px;

                    ul {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}